@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: "Poppins", sans-serif;
}
body{
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}
:root{
    --green: #0e610e;
    --white: #fff;
    --grey: #d2cfcf;
    --black1: #222;
    --black2: #999;
}
.container{
    position: relative;
    width: 100%;
}
/*===NAVIGATION===*/
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--green);
    border-left: 10px solid var(--green);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}
.navigation ul li:hover,.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,.navigation ul li.hovered a{
    color: var(--green);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75rem;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
/*curve outside*/
.navigation ul li:hover a::before,.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
/*MAIN*/
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black2);
    
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*CARDS*/
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--green);
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
}
.cardBox .card .iconBox{
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover{
    background: var(--green);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--white);
}
/*CHARTS*/
.graphBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.graphBox .box{
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.graphBox .box h3{
    color: #0e610e;
}
.graphBox .box h4{
    color: #d4de17;
}
.graphBox .box h5{
    color: #0e610e;
}
.graphBox .box h2{
    color: #0e610e;
}

/*DETAILS/RANKING*/
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 500fr 1fr; /*500fr 1fr*/
    grid-gap: 30px;
    /*margin-top: 10px;*/
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.details .list{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--green);
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--green);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .list table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.01);
}
.details .list table tr:last-child{
    border-bottom: none;
}
.details .list table tbody tr:hover{
    background: var(--green);
    color: var(--white);
}
.details .list table tr td{
    padding: 10px;
}
.details .list table tr td:last-child{
    text-align: center;
}
.details .list table tr td:nth-child(1){
    text-align: center;
}
.details .list table tr td:nth-child(2){
    text-align: center;
}
.details .list table tr td:nth-child(3){
    text-align: center;
}
.details .list table tr td:nth-child(4){
    text-align: center;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 991px)
{
    .graphBox{
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .list{
        overflow-x: auto;
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: #fff;
    }
}

/*STUDENT INFORMATION ADMIN WITH FILTER*/

.studentContainer{
    padding: 20px;
    box-shadow: 1px 1px 10px var(--black1);
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
}
.studentContainer header .filterStudent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.filterStudent .student{
    color: var(--green);
}
.filterStudent .student select, .filterStudent .filter input{
    padding: 5px 10px;
    border: 1px solid var(--black1);
    color: var(--green);
    background: var(--white);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.filterStudent .student select{
    padding: 5px 10px;
}

.filterStudent .student select:hover{
    color: white;
    background-color: #0e610e;
}
.filterStudent .filter{
    display: flex;
    align-items: center;
}
.filter label{
    color: var(--green);
    margin-left: 5px;
}
.filter input{
    padding: 7px 10px;
    border: 1px solid black;
}
.filter input:focus{
    border-color: var(--black1);
}
.studentContainer header .addStudentBtn{
    margin-bottom: 15px;
}
.addStudentBtn button i{
    margin-right: 5px;
}
.addStudentBtn button a{
    color: green;
    text-decoration: none;
}
.addStudentBtn button a:hover{
    color: white;
}
header .addStudentBtn button{
    padding: 9px 14px;
    color: var(--black1);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--black1);
    background: var(--white);
    border-radius: 5px;
}
header .addStudentBtn button:hover{
    color: white;
    background-color: var(--green);
}

.apply{
   background-color: green;
   color: white;
   padding: 4px;
   border-radius: 5px;
   border: 1px solid black;
   cursor: pointer;
   pointer-events: auto;
}

.studentContainer table{
    border-collapse: collapse;
    text-align: left;
}
table .heading{
    background: var(--black1);
    background: transparent;
    color: var(--black1);
}
table .heading th:hover{
    background: var(--grey);
    transition: 0.3s;
}
table tr th, table tr td{
    padding: 4px 10px;
    color: var(--black1);
}
table tr th{
    padding: 12px 10px;
}
table tr td:nth-child(1), table tr td:nth-child(2){
    text-align: center;
}
table tr:hover{
    cursor: pointer;
    background: var(--white);
}
table tr td{
    border-bottom: 1px solid var(--black1);
}
table tbody tr:first-child td{
    border-top: 1px solid var(--black1);
}
table tbody tr:nth-child(odd){
    background: var(--white);
}
table tbody tr:nth-child(odd) > td:nth-child(3){
    background: var(--white);
}
table td button{
    margin: 0 3px;
    padding: 5px;
    width: 35px;
    background: var(--white);
    color: black;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--black1);
    border-radius: 5px;
}
table td button:hover{
    background-color: var(--green);
    color: var(--white);
}

/*NEW STUDENT*/
.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
}
.newStudent{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
    
}
.newStudent .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.newStudent .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: green;
    left: 0;
    bottom: 0;
}
.newStudent form .studentDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 5px 0;
}
form .studentDetails .inputBox{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.studentDetails .inputBox .namedetails{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.studentDetails .inputBox input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}
.studentDetails .inputBox input:focus,
.studentDetails .inputBox input:valid{
    border-color: green;
}
form .sexDetails .sexTitle{
    font-size: 18px;
    font-weight: 500;
}
form .sexDetails .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.sexDetails .category label{
    display: flex;
    align-items: center;
    margin: 18px;
}
.sexDetails .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: green ;
}
form input[type="radio"]{
    display: none;
}
form .button-student{
    height: 45px;
    margin: 45px 0;
}
form .button-student input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    background: green;
    cursor: pointer;
}
form .button-student input:hover{
    background: white;
    border: 1px solid green;
    color: green;
}
.back button{
    height: 30px;
    margin: 10px;
    background: white;
    border: 1px solid;
    padding: 5px;
    color: green;
}
.back a{
    color: green;
    text-decoration: none;
}
.back a:hover{
    background: green;
    color: white;
}
.back button i{
    margin: 0 5px;
}
.back button:hover{
    background: green;
    color: white;
}
.required{
    color: red;
}

@media (max-width: 584px) {
    .newStudent{
        max-width: 100%;
    }
    form .studentDetails .inputBox{
        margin-bottom: 15px;
        width: 100%
    }
    form .sexDetails .category{
        width: 100%;
    }
    .newStudent form .studentDetails{
        max-height: 300px;
        overflow-y: scroll;
    }
    .studentDetails::-webkit-scrollbar{
        width: 0;
    }
}
